body {
    margin: 0;
    padding: 1em;
    font-family: sans-serif;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-foreground);
}

.kanbn-header-name {
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px var(--vscode-activityBar-inactiveForeground) solid;
}

.kanbn-board {
    display: flex;
}

.kanbn-column {
    flex: 1;
}

.kanbn-column-name {
    color: var(--vscode-editor-foreground);
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
    padding-left: 8px;
}

.kanbn-column-name .codicon {
    font-size: 0.8em !important;
    margin-right: 0.5em;
}

.kanbn-create-task-button {
    position: relative;
    top: -2px;
    left: -4px;
    float: right;
    border: none;
    outline: none;
    color: var(--vscode-foreground);
    background-color: transparent;
    padding: 2px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 1px;
}

.kanbn-create-task-button:focus, .kanbn-create-task-button:hover {
    border: none;
    outline: none;
    color: var(--vscode-editor-background);
    background-color: var(--vscode-foreground);
}

.kanbn-create-task-button .codicon {
    font-size: 11px !important;
}

.kanbn-column-count {
    opacity: 0.6;
    font-weight: normal;
    font-style: italic;
    margin-left: 8px;
}

.kanbn-column-task-list {
    margin: 0 8px;
    border-left: 4px var(--vscode-activityBar-inactiveForeground) solid;
}

.kanbn-column-task-list.drag-over {
    border-color: var(--vscode-activityBar-foreground);
}

.kanbn-column-backlog .kanbn-column-task-list {
    border-color: #36d;
}

.kanbn-column-backlog .kanbn-column-task-list.drag-over {
    border-color: #69f;
}

.kanbn-column-in-progress .kanbn-column-task-list {
    border-color: #194;
}

.kanbn-column-in-progress .kanbn-column-task-list.drag-over {
    border-color: #3c7;
}

.kanbn-column-todo .kanbn-column-task-list {
    border-color: #eb1;
}

.kanbn-column-todo .kanbn-column-task-list.drag-over {
    border-color: #fe5;
}

.kanbn-column-done .kanbn-column-task-list {
    border-color: #e83;
}

.kanbn-column-done .kanbn-column-task-list.drag-over {
    border-color: #fa4;
}

.kanbn-task {
    position: relative;
    overflow: hidden;
    padding: 4px;
    margin: 8px;
    min-height: 30px;
    border: 1px var(--vscode-activityBar-inactiveForeground) solid;
    border-radius: 2px;
    color: var(--vscode-editor-foreground);
    transition: background-color .5s ease-in-out;
}

.kanbn-task.drag {
    background-color: var(--vscode-activityBar-inactiveForeground);
    border-color: var(--vscode-activityBar-activeBackground);
}

.kanbn-task-name {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    color: var(--vscode-editor-foreground);
    cursor: pointer;
}

.kanbn-task-name:focus, .kanbn-task-name:hover {
    border: none;
    outline: none;
    text-decoration: underline;
}

.kanbn-task-data {
    display: inline-block;
    margin: 4px 8px 4px 0;
    min-width: 30%;
    opacity: 0.7;
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
}

.kanbn-task div .codicon {
    position: relative;
    top: 1px;
    font-size: 0.9em !important;
    margin-right: 0.5em;
}

.kanbn-task-tag {
    display: inline-block;
    background-color: var(--vscode-activityBar-inactiveForeground);
    color: var(--vscode-editor-background);
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 4px;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
}

.kanbn-task-tag-Nothing {
    background-color: #6bf;
    color: #333;
}

.kanbn-task-tag-Tiny {
    background-color: #36d;
    color: #333;
}

.kanbn-task-tag-Small {
    background-color: #194;
    color: #333;
}

.kanbn-task-tag-Medium {
    background-color: #eb1;
    color: #333;
}

.kanbn-task-tag-Large {
    background-color: #e83;
    color: #333;
}

.kanbn-task-tag-Huge {
    background-color: #f42;
    color: #333;
}

.kanbn-task-progress {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 6px;
    background-color: #3c7;
    opacity: 0.7;
}

.kanbn-task-editor-title {
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px var(--vscode-activityBar-inactiveForeground) solid;
}

.kanbn-task-editor-field .kanbn-task-editor-title {
    font-size: 1.1em;
    padding: 0.5em 0;
    border-bottom: 1px var(--vscode-activityBar-inactiveForeground) solid;
}

.kanbn-task-editor-column-left {
    width: 70%;
    padding-right: 1em;
}

.kanbn-task-editor-column-right {
    width: 30%;
}

.kanbn-task-editor-field {
    margin-bottom: 1em;
}

.kanbn-task-editor-field-label p {
    color: var(--vscode-editor-foreground);
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 0;
}

body.vscode-dark .kanbn-task-editor-field-input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.kanbn-task-editor-field-input,
.kanbn-task-editor-field-select,
.kanbn-task-editor-field-checkbox,
.kanbn-task-editor-field-textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px transparent solid;
}

.kanbn-task-editor-field-select {
    padding-bottom: 7px;
}

.kanbn-task-editor-field-textarea {
    min-height: 200px;
    resize: vertical;
}

.kanbn-task-editor-field-input:hover, .kanbn-task-editor-field-input:focus {
    border-color: var(--vscode-input-border);
}

.kanbn-task-editor-buttons {
    text-align: right;
}

.kanbn-task-editor-button {
    outline: none;
    border: none;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 9px 1em;
    margin-left: 8px;
}

.kanbn-task-editor-button .codicon {
    font-size: 11px !important;
    margin-right: 0.5em;
    position: relative;
    top: 1px;
}

.kanbn-task-editor-button:hover, .kanbn-task-editor-button:focus {
    background-color: var(--vscode-button-hoverBackground);
}

.kanbn-task-editor-button-delete:hover, .kanbn-task-editor-button-delete:focus {
    background-color: #f42;
}

.kanbn-task-editor-field-errors {
    font-weight: bold;
    color: #f42;
}

.kanbn-task-editor-id {
    margin-bottom: 8px;
    font-style: italic;
    opacity: 0.8;
}

.kanbn-task-editor-row {
    display: flex;
}

.kanbn-task-editor-column {
    flex: 1;
    margin-right: 8px;
}

.kanbn-task-editor-column:last-child {
    margin-right: 0;
}

.kanbn-task-editor-field-relation-task {
    flex: 2;
}

.kanbn-task-editor-field-subtask-completed {
    flex: 0 0 2em;
    padding: 10px 0;
}

.kanbn-task-editor-column-buttons {
    white-space: nowrap;
    flex: 0;
}

.kanbn-task-editor-field .kanbn-task-editor-buttons {
    margin-top: 8px;
}

.kanbn-task-editor-column-buttons .kanbn-task-editor-button {
    margin: 8px 0;
}
