body.vscode-light,
body.vscode-dark,
body.vscode-high-contrast {
    margin: 0;
    padding: 1em;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-foreground);
}

/*-----------------------------------------------------------------------------
Board styles
-----------------------------------------------------------------------------*/

.kanbn-header-name {
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px var(--vscode-activityBar-inactiveForeground) solid;
    display: flex;
    text-align: left;
}

.kanbn-header-name p {
    display: inline-block;
    flex: 2;
    margin: 0;
    padding: 4px 0;
}

.kanbn-filter {
    position: relative;
    flex: 1;
}

.kanbn-filter form {
    width: 100%;
    display: flex;
    white-space: nowrap;
}

.kanbn-filter-input {
    box-sizing: border-box;
    flex: 1;
    padding: 8px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    border: 1px transparent solid;
}

.kanbn-filter-input:hover, .kanbn-filter-input:focus {
    border-color: var(--vscode-input-border);
}

.kanbn-header-button {
    outline: none;
    border: 1px transparent solid;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 9px;
    margin-left: 8px;
    max-width: 120px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.kanbn-header-button .codicon {
    font-size: 12px !important;
    position: relative;
    top: 1px;
}

.kanbn-header-button-burndown .codicon {
    top: 2px;
}

.kanbn-header-button-sprint .codicon {
    margin-right: 0.5em;
}

.kanbn-header-button:focus {
    border-color: var(--vscode-button-hoverBackground);
}

.kanbn-header-button:hover, .kanbn-header-button:active {
    background-color: var(--vscode-button-hoverBackground);
}

.kanbn-header-button-inactive {
    opacity: 0.6;
}

.kanbn-board {
    display: flex;
    align-items: stretch;
}

.kanbn-column {
    flex: 1;
}

.kanbn-column-name {
    color: var(--vscode-editor-foreground);
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
    padding-left: 8px;
}

.kanbn-column-name .codicon {
    font-size: 0.8em !important;
    margin-right: 0.5em;
}

.kanbn-column-button {
    position: relative;
    top: -2px;
    left: -4px;
    float: right;
    outline: none;
    border: 1px transparent solid;
    background-color: var(--vscode-button-hoverBackground);
    color: var(--vscode-button-foreground);
    padding: 2px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    border-radius: 1px;
    cursor: pointer;
}

.kanbn-column-button .codicon {
    font-size: 11px !important;
    font-weight: 900;
}

.kanbn-column-button:focus {
    border-color: var(--vscode-button-hoverBackground);
}

.kanbn-column-button:hover, .kanbn-column-button:active {
    background-color: var(--vscode-button-hoverBackground);
}

.kanbn-column-button.kanbn-sort-column-button .codicon {
    opacity: 0.5;
    font-weight: normal;
}

.kanbn-column-button.kanbn-sort-column-button.kanbn-column-sorted .codicon {
    opacity: 1;
}

.kanbn-column-count {
    opacity: 0.6;
    font-weight: normal;
    font-style: italic;
    margin-left: 8px;
}

.kanbn-column-task-list-container {
    height: calc(100% - 44px);
}

.kanbn-column-task-list {
    margin: 0 8px;
    border-left: 4px var(--vscode-activityBar-inactiveForeground) solid;
    min-height: 46px;
    height: 100%;
    transition: border-color .5s ease-in-out;
}

.kanbn-column-task-list.drag-over {
    border-color: var(--vscode-activityBar-foreground) !important;
}

.kanbn-column-backlog .kanbn-column-task-list {
    border-color: #36d;
}

.kanbn-column-in-progress .kanbn-column-task-list {
    border-color: #194;
}

.kanbn-column-todo .kanbn-column-task-list {
    border-color: #eb1;
}

.kanbn-column-done .kanbn-column-task-list {
    border-color: #e83;
}

/*-----------------------------------------------------------------------------
Task styles
-----------------------------------------------------------------------------*/

.kanbn-task {
    position: relative;
    overflow: hidden;
    padding: 4px 4px 8px 4px;
    margin: 8px;
    min-height: 30px;
    border-left: 4px var(--vscode-activityBar-inactiveForeground) solid;
    color: var(--vscode-editor-foreground);
}

body.vscode-light .kanbn-task {
    background-color: rgba(0, 0, 0, 0.05);
}

body.vscode-dark .kanbn-task {
    background-color: rgba(255, 255, 255, 0.03);
}

.kanbn-task.drag {
    border-color: var(--vscode-activityBar-foreground);
}

.kanbn-task-data {
    display: inline-block;
    margin: 4px 8px 4px 0;
    min-width: 30%;
    opacity: 0.7;
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
}

.kanbn-task-data-label {
    opacity: 0.4;
}

.kanbn-task-data-name {
    display: block;
}

.kanbn-task-data-tags {
    display: block;
}

.kanbn-task-data-relation {
    display: block;
}

.kanbn-task-data-name button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    color: var(--vscode-editor-foreground);
    cursor: pointer;
    text-align: left;
}

.kanbn-task-data-name button:focus,
.kanbn-task-data-name button:hover {
    border: none;
    outline: none;
    text-decoration: underline;
}

.kanbn-task div .codicon {
    position: relative;
    top: 1px;
    font-size: 0.9em !important;
    margin-right: 0.5em;
}

.kanbn-task-tag {
    display: inline-block;
    background-color: var(--vscode-activityBar-inactiveForeground);
    background-color: #999;
    color: #333;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 4px;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
}

.kanbn-task-tag-nothing {
    background-color: #6bf;
}

.kanbn-task-tag-tiny {
    background-color: #36d;
}

.kanbn-task-tag-small {
    background-color: #194;
}

.kanbn-task-tag-medium {
    background-color: #eb1;
}

.kanbn-task-tag-large {
    background-color: #e83;
}

.kanbn-task-tag-huge {
    background-color: #f42;
}

.kanbn-task-overdue .kanbn-task-data-due {
    color: #f22 !important;
}

.kanbn-task-progress {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 6px;
    background-color: #3c7;
    opacity: 0.7;
    transition: width .5s ease-in-out;
}

.kanbn-task-data-updated {
    display: none;
}

.kanbn-task-data-started {
    display: none;
}

.kanbn-task-data-due {
    display: none;
}

.kanbn-task-data-completed {
    display: none;
}

.kanbn-task-data-comments {
    display: none;
}

.kanbn-task-data-relation {
    display: none;
}

/*-----------------------------------------------------------------------------
Task editor styles
-----------------------------------------------------------------------------*/

.kanbn-task-editor-title {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 0;
}

.kanbn-task-editor-dirty {
    margin-left: 8px;
    color: #f22;
}

.kanbn-task-editor-dates {
    font-size: var(--vscode-font-size);
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
    float: right;
    margin: 2px;
}

.kanbn-task-editor-form {
    display: flex;
    border-top: 1px solid var(--vscode-activityBar-inactiveForeground);
}

.kanbn-task-editor-field .kanbn-task-editor-title,
.kanbn-task-editor-field-label p:first-of-type {
    color: var(--vscode-editor-foreground);
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 0;
    border-bottom: none;
}

.kanbn-task-editor-column-left {
    width: 70%;
    padding-right: 1em;
}

.kanbn-task-editor-column-right {
    width: 30%;
}

.kanbn-task-editor-field {
    margin-bottom: 1em;
}

body.vscode-dark .kanbn-task-editor-field-input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.kanbn-task-editor-field-input,
.kanbn-task-editor-field-select,
.kanbn-task-editor-field-checkbox,
.kanbn-task-editor-field-textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    border: 1px transparent solid;
}

#description-input {
    min-height: 97px;
}

.kanbn-task-editor-field-input[type=date] {
    padding: 6px 8px;
}

.kanbn-task-editor-field-select {
    padding-bottom: 7px;
}

.kanbn-task-editor-field-textarea {
    min-height: 90px;
    resize: vertical;
}

.kanbn-task-editor-field-input:hover, .kanbn-task-editor-field-input:focus {
    border-color: var(--vscode-input-border);
}

.kanbn-task-editor-buttons {
    text-align: right;
}

.kanbn-task-editor-main-buttons {
    float: right;
    position: relative;
    top: -0.5em;
}

.kanbn-task-editor-button {
    outline: none;
    border: 1px transparent solid;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 9px 1em;
    margin-left: 8px;
}

.kanbn-task-editor-button .codicon {
    font-size: 11px !important;
    margin-right: 0.5em;
    position: relative;
    top: 1px;
}

.kanbn-task-editor-button:focus {
    border-color: var(--vscode-button-hoverBackground);
}

.kanbn-task-editor-button:hover, .kanbn-task-editor-button:active {
    background-color: var(--vscode-button-hoverBackground);
}

.kanbn-task-editor-button-delete:focus {
    border-color: #f22;
}

.kanbn-task-editor-button-delete:hover, .kanbn-task-editor-button-delete:active {
    background-color: #f22;
}

.kanbn-task-editor-field-errors {
    font-weight: bold;
    color: #f22;
}

.kanbn-task-editor-id {
    margin-bottom: 8px;
    font-style: italic;
    opacity: 0.8;
}

.kanbn-task-editor-row {
    display: flex;
}

.kanbn-task-editor-column {
    flex: 1;
    margin-right: 8px;
}

.kanbn-task-editor-column:last-child {
    margin-right: 0;
}

.kanbn-task-editor-field-relation-task {
    flex: 2;
}

.kanbn-task-editor-field-subtask-completed {
    flex: 0 0 2em;
    padding: 10px 0;
}

.kanbn-task-editor-column-buttons {
    white-space: nowrap;
    flex: 0;
}

.kanbn-task-editor-field .kanbn-task-editor-buttons {
    margin-top: 8px;
}

.kanbn-task-editor-column-buttons .kanbn-task-editor-button {
    margin: 8px 0 8px 8px;
}

.kanbn-task-editor-column-buttons .kanbn-task-editor-button .codicon {
    margin-right: 0;
}

.kanbn-task-editor-field-progress {
    position: relative;
}

.kanbn-task-editor-field-progress .kanbn-task-progress {
    bottom: 0;
    height: 4px;
    opacity: 1;
}

.kanbn-task-editor-field-tag {
    position: relative;
}

.kanbn-task-editor-tag-highlight {
    position: absolute;
    bottom: 8px;
    left: 0;
    height: 4px;
    width: 100%;
}

.kanbn-task-editor-row-comment {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.kanbn-task-editor-field-comment-author-value {
    padding: 16px 0;
    font-style: italic;
    opacity: 0.8;
}

.kanbn-task-editor-field-comment-author-value .codicon {
    font-size: 0.8em !important;
    margin-right: 0.5em;
}

.kanbn-task-editor-field-comment-date {
    padding: 16px 0;
    text-align: right;
    font-style: italic;
    opacity: 0.8;
}

.kanbn-task-editor-field-comment-text .kanbn-task-editor-field-textarea {
    min-height: 90px;
}

.kanbn-task-editor-comment-text {
    position: relative;
    padding: .5em;
    background-color: var(--vscode-input-background);
    min-height: 90px;
    white-space: pre-wrap;
}

.kanbn-task-editor-comment-text::after {
	content: "";
	position: absolute;
	height: 16px;
	width: 24px;
	bottom: -15px;
	left: 95%;
	background-color: var(--vscode-input-background);
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.kanbn-task-editor-field-label-description {
    display: inline-block;
}

.kanbn-task-editor-description-preview {
    padding: .5em;
    min-height: 90px;
    border: 1px var(--vscode-input-background) solid;
}

.kanbn-task-editor-button-edit-description {
    float: right;
}

.kanbn-task-editor-custom-checkbox {
    float: left;
    width: auto;
    position: relative;
    top: -.2em;
    margin: .5em 1em .5em 0;
}

/*-----------------------------------------------------------------------------
Burndown chart styles
-----------------------------------------------------------------------------*/

.kanbn-burndown-settings {
    position: relative;
    flex: 1;
}

.kanbn-burndown-settings form {
    width: 100%;
    display: flex;
    white-space: nowrap;
}

.kanbn-burndown-settings-sprint-select {
    box-sizing: border-box;
    flex: 1;
    padding: 8px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px transparent solid;
}

.kanbn-burndown-settings-input {
    box-sizing: border-box;
    display: block;
    flex: 0.5;
    padding: 8px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    border: 1px transparent solid;
}

.kanbn-burndown-settings-input[type=date] {
    padding: 6px 8px;
    margin-left: 8px;
}

.kanbn-burndown-settings-sprint-select:hover,
.kanbn-burndown-settings-sprint-select:focus,
.kanbn-burndown-settings-input:hover,
.kanbn-burndown-settings-input:focus {
    border-color: var(--vscode-input-border);
}

body.vscode-dark .kanbn-burndown-settings-input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.kanbn-burndown {
    height: 85vh;
    width: 95vw;
}

.kanbn-burndown-grid {
    stroke: var(--vscode-activityBar-inactiveForeground);
}

.kanbn-burndown-line path {
    stroke: #3c7;
}

.kanbn-burndown-point {
    stroke: var(--vscode-foreground);
    fill: var(--vscode-editor-background);
}

.kanbn-burndown-tooltip {
    background-color: var(--vscode-menu-background);
    color: var(--vscode-menu-foreground);
    padding: 8px;
}

.kanbn-burndown-tooltip p {
    margin: 0;
}

.kanbn-burndown-tooltip-date {
    font-weight: bold;
}

.kanbn-burndown-tooltip-task {
    font-style: italic;
}

/*-----------------------------------------------------------------------------
Code block syntax highlighting styles
-----------------------------------------------------------------------------*/

body.vscode-dark code[class*="language-"] span.token.comment,
body.vscode-dark code[class*="language-"] span.token.prolog,
body.vscode-dark code[class*="language-"] span.token.cdata {
    color: #808080;
}

body.vscode-dark code[class*="language-"] span.token.delimiter,
body.vscode-dark code[class*="language-"] span.token.boolean,
body.vscode-dark code[class*="language-"] span.token.keyword,
body.vscode-dark code[class*="language-"] span.token.selector,
body.vscode-dark code[class*="language-"] span.token.important,
body.vscode-dark code[class*="language-"] span.token.atrule {
    color: #cc7832;
}

body.vscode-dark code[class*="language-"] span.token.operator,
body.vscode-dark code[class*="language-"] span.token.punctuation,
body.vscode-dark code[class*="language-"] span.token.attr-name {
    color: #a9b7c6;
}

body.vscode-dark code[class*="language-"] span.token.tag,
body.vscode-dark code[class*="language-"] span.token.tag.punctuation,
body.vscode-dark code[class*="language-"] span.token.doctype,
body.vscode-dark code[class*="language-"] span.token.builtin {
    color: #e8bf6a;
}

body.vscode-dark code[class*="language-"] span.token.entity,
body.vscode-dark code[class*="language-"] span.token.number,
body.vscode-dark code[class*="language-"] span.token.symbol {
    color: #6897bb;
}

body.vscode-dark code[class*="language-"] span.token.property,
body.vscode-dark code[class*="language-"] span.token.constant,
body.vscode-dark code[class*="language-"] span.token.variable {
    color: #9876aa;
}

body.vscode-dark code[class*="language-"] span.token.string,
body.vscode-dark code[class*="language-"] span.token.char {
    color: #6a8759;
}

body.vscode-dark code[class*="language-"] span.token.attr-value,
body.vscode-dark code[class*="language-"] span.token.attr-value.punctuation {
    color: #a5c261;
}

body.vscode-dark code[class*="language-"] span.token.attr-value.punctuation:first-child {
    color: #a9b7c6;
}

body.vscode-dark code[class*="language-"] span.token.url {
    color: #287bde;
}

body.vscode-dark code[class*="language-"] span.token.function {
    color: #ffc66d;
}

body.vscode-dark code[class*="language-"] span.token.regex {
    color: #364135;
}

body.vscode-dark code[class*="language-"] span.token.inserted {
    color: #294436;
}

body.vscode-dark code[class*="language-"] span.token.deleted {
    color: #484a4a;
}

body.vscode-dark code.language-css span.token.property,
body.vscode-dark code.language-css span.token.property + .token.punctuation {
    color: #a9b7c6;
}

body.vscode-dark code.language-css span.token.id,
body.vscode-dark code.language-css .token.selector > .token.class,
body.vscode-dark code.language-css .token.selector > .token.attribute,
body.vscode-dark code.language-css .token.selector > .token.pseudo-class,
body.vscode-dark code.language-css .token.selector > .token.pseudo-element {
    color: #ffc66d;
}

body.vscode-light code[class*="language-"] span.token.comment,
body.vscode-light code[class*="language-"] span.token.prolog,
body.vscode-light code[class*="language-"] span.token.doctype,
body.vscode-light code[class*="language-"] span.token.cdata {
    color: #708090;
}

body.vscode-light code[class*="language-"] span.token.punctuation {
    color: #999999;
}

body.vscode-light code[class*="language-"] span.token.namespace {
    opacity: 0.7;
}

body.vscode-light code[class*="language-"] span.token.property,
body.vscode-light code[class*="language-"] span.token.tag,
body.vscode-light code[class*="language-"] span.token.boolean,
body.vscode-light code[class*="language-"] span.token.number,
body.vscode-light code[class*="language-"] span.token.constant,
body.vscode-light code[class*="language-"] span.token.symbol,
body.vscode-light code[class*="language-"] span.token.deleted {
    color: #990055;
}

body.vscode-light code[class*="language-"] span.token.selector,
body.vscode-light code[class*="language-"] span.token.attr-name,
body.vscode-light code[class*="language-"] span.token.string,
body.vscode-light code[class*="language-"] span.token.char,
body.vscode-light code[class*="language-"] span.token.builtin,
body.vscode-light code[class*="language-"] span.token.inserted {
    color: #669900;
}

body.vscode-light code[class*="language-"] span.token.operator,
body.vscode-light code[class*="language-"] span.token.entity,
body.vscode-light code[class*="language-"] span.token.url,
body.vscode-light code.language-css span.token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5);
}

body.vscode-light code[class*="language-"] span.token.atrule,
body.vscode-light code[class*="language-"] span.token.attr-value,
body.vscode-light code[class*="language-"] span.token.keyword {
    color: #0077aa;
}

body.vscode-light code[class*="language-"] span.token.function,
body.vscode-light code[class*="language-"] span.token.class-name {
    color: #dd4a68;
}

body.vscode-light code[class*="language-"] span.token.regex,
body.vscode-light code[class*="language-"] span.token.important,
body.vscode-light code[class*="language-"] span.token.variable {
    color: #ee9900;
}
